%h1 New Blogpost
= simple_form_for(@post, html: {class: 'form-inline' }) do |f|
  %fieldset
    = f.input :title, :required => true
    = f.input :content, :as => :text, :required => false, :input_html => {:rows => 10}
  .form-actions
    = f.button :submit, 'Save Post', :class=> "btn btn-primary"